@import "compass";
//@import "compass/reset";

* {
    @include box-sizing(border-box)
}

html, body {
    margin: 0;
    padding: 0;
}

.test {
    text-align: right;
}

body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
}

.movie-card, .menu-card {
    position: relative;
    height: 250px;
    padding-left: 0;
    padding-right: 0;
    background-size: cover;
    background-position: center 50%;

    .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-radial-gradient(center top, 200% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    .title {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        font-size: 1.7em;
        line-height: 1em;
        text-decoration: none;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 15px;
    }
}

.menu-card {
    .icon {
        text-align: center;
        position: absolute;
        top: 25%;
        width: 100%;
        i {
            font-size: 5em;
            color: #FFFFFF;
        }
    }

    .title {
        padding-bottom: 20px;
    }
}

section {
    padding-bottom: 2em;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #171C1F;
}

.black {
    background-color: #171C1F;
}

.menu-top {
    .icon {
        position: absolute;
        left: 15px;
    }

    .title {
        font-size: 2em;
        line-height: 1em;
     }

    .title {
        text-align: center;
        margin: 0;
        padding: 10px 48px 10px 48px;
        color: #FFFFFF;

        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }

}

.card-fade.ng-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.card-fade.ng-enter {
    opacity: 0;
}
.card-fade.ng-enter-active {
    opacity: 1;
}

.card-fade.ng-enter-stagger {
    @include transition-delay(0.05s);
    @include transition-duration(0s);
}

.trailers.ng-enter-stagger {
    @include transition-delay(0.3s);
    @include transition-duration(0s);
}

p {
    color: #FFFFFF;
}

iframe {
    background-image: url('../img/youtube.png');
    background-size: cover;
}

.trailers.ng-enter, .trailers.ng-leave {
    @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s);
}

.trailers.ng-enter {
    transform: translateX(1000px);
}

.trailers.ng-enter-active {
    transform: translateX(0);
}

actor {
    .photo {
        height: 250px;
        width: 100%;
        background-size:cover;
        overflow: hidden;
        background-position:50% 25%;
    }

    .name {
        text-align: center;
        padding-top: 0.5em;
    }
}

movie {
    .photo {
        height: 300px;
        width: 100%;
        background-size:cover;
        overflow: hidden;
        background-position:50% 50%;
    }

    .name {
        text-align: center;
        padding-top: 0.5em;
    }
}

.movie-even {
    padding-left: 7px;
}

.movie-odd {
    padding-right: 7px;
}