<section class="col-xs-12 black" style="overflow-x: hidden;">

    <div class="menu-top" style="margin-bottom: 1em;">
        <p class="title">
            <a href="" ng-click="previous()" class="icon"><i class="fa fa-arrow-left"></i></a>
            <span ng-bind="actor.name"></span>
        </p>
    </div>

    <loading></loading>

    <div ng-show="!loading">
        <div style="text-align: center; margin-bottom: 1em;">
            <img ng-src="{{actor.poster}}" style="max-width: 300px;" alt=""/>
        </div>
        <p><b>Biographie</b> : <span ng-bind="actor.biography"></span><span ng-show="actor.biography === ''">Biographie inconnue</span></p>
        <p><b>Date de naissance</b> : <span ng-bind="actor.birthday"></span><span ng-show="actor.birthday === ''">Date inconnue</span></p>
        <p><b>Lieu de naissance</b> : <span ng-bind="actor.place_of_birth"></span><span ng-show="actor.place_of_birth === ''">Lieu inconnu</span></p>
        <p ng-hide="actor.deathday === ''"><b>Date de décès</b> : <span ng-bind="actor.deathday"></span></p>
    </div>

    <div ng-show="loadingMovies">
        <br/>
        <div class="row">
            <p style="text-align: center;"><b>Acteur</b></p>
            <div class="col-xs-6 col-sm-4 card-fade" ng-class-even="'movie-even'" ng-class-odd="'movie-odd'" style="margin-bottom: 0.5em;" ng-repeat="movie in casts | limitTo:castsLimit">
                <movie ng-click="detailMovie(movie.id)"></movie>
            </div>
            <p style="text-align: center;" ng-show="castsLimit < casts.length"><a href="" ng-click="moreCasts()"><b>Afficher plus de films</b></a></p>
            <p style="text-align: center;" ng-show="casts.length == 0"><b>Aucun film</b></p>
        </div>
        <br/>
        <div class="row">
            <p style="text-align: center;"><b>Production</b></p>
            <div class="col-xs-6 col-sm-4 card-fade" ng-class-even="'movie-even'" ng-class-odd="'movie-odd'" style="margin-bottom: 0.5em;" ng-repeat="movie in crews | limitTo:crewsLimit">
                <movie ng-click="detailMovie(movie.id)"></movie>
            </div>
            <p style="text-align: center;" ng-show="crewsLimit < crews.length"><a href="" ng-click="moreCrews()"><b>En afficher plus de productions</b></a></p>
            <p style="text-align: center;" ng-show="crews.length == 0"><b>Aucune production</b></p>
        </div>
    </div>

</section>