<section ng-controller="GeolocateCtrl" style="padding-bottom: 0;">

    <div class="menu-top">
        <p class="title">
            <a href="" ng-click="previous()" class="icon"><i class="fa fa-arrow-left"></i></a>
            Géolocalisation
        </p>
    </div>

    <div id="map"></div>

</section>