<section ng-controller="HomeCtrl">

    <div class="menu-top">
        <p class="title">
            ngMovies
        </p>
    </div>

    <div class="col-xs-12 black" style="">
        <div class="row">
            <div class="col-xs-6 menu-card" style="background-image: url('img/cinema.jpg');" ng-click="nowPlaying()">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-film"></i>
                    </div>
                    <p class="title">Films à l'affiche</p>
                </div>
            </div>
            <div class="col-xs-6 menu-card" style="background-image: url('img/map.jpg');" ng-click="geolocate()">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <p class="title">Cinémas autour de moi</p>
                </div>
            </div>
            <div class="col-xs-6 menu-card" style="background-image: url('img/popular.jpg');" ng-click="popular()">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <p class="title">Films populaires</p>
                </div>
            </div>
            <div class="col-xs-6 menu-card" style="background-image: url('img/search.jpg');" ng-click="search()">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <p class="title">Rechercher un film</p>
                </div>
            </div>
        </div>
    </div>


</section>