<section class="col-xs-12 black" style="overflow-x: hidden;">

    <div class="menu-top" style="margin-bottom: 1em;">
        <p class="title">
            <a href="" ng-click="previous()" class="icon"><i class="fa fa-arrow-left"></i></a>
            <span ng-bind="movie.title"></span>
        </p>
    </div>

    <loading></loading>

    <div ng-show="!loading">
        <div style="text-align: center; margin-bottom: 1em;">
            <img ng-src="{{movie.poster}}" alt=""/>
        </div>
        <div style="text-align: center;">
            <p ng-show="videos.length == 0">Aucune vidéo</p>
            <iframe ng-src="{{video.urlTrust}}" class="trailers" frameborder="0" allowfullscreen ng-repeat="video in videos | limitTo:videoLimit" width="{{width}}" height="{{height}}" style="margin-bottom: 1em;"></iframe>
        </div>
        <p style="text-align: center;" ng-show="videoLimit < videos.length"><a href="" ng-click="moreVideos()"><b>En afficher plus</b></a></p>
        <p style="margin-top: 1em;"><b>Synopsis</b> : <span ng-bind="movie.overview"></span><span ng-show="!movie.overview">Synopsis inconnu</span></p>
        <p><b>Compagnies de production</b> :
            <span ng-repeat="company in movie.production_companies"><span ng-bind="company.name"></span><span ng-show="!$last">, </span></span>
            <span ng-show="movie.production_companies.length == 0">Compagnie inconnue</span>
        </p>
        <p>
            <b>Genres</b> :
            <span ng-repeat="genre in movie.genres"><span ng-bind="genre.name"></span><span ng-show="!$last">, </span></span>
            <span ng-show="movie.genres.length == 0">Genre inconnu</span>
        </p>
        <p><b>Note moyenne</b> :
            <span ng-show="movie.vote_count == 0">Aucun avis</span>
            <span ng-show="movie.vote_count > 0"><i ng-repeat="n in [movie.grade] | range" class="fa fa-star" style="color: #FFEB3B;"></i><i ng-repeat="n in [movie.grade, 4] | range" class="fa fa-star-o"></i>
            ({{movie.vote_average}}/10 pour {{movie.vote_count}} avis)</span>
        </p>
        <p><b>Date de sortie</b> : <span ng-show="!movie.release_date">Aucune date</span>{{movie.release_date}}</p>
    </div>

    <div ng-show="loadingActors">
        <br/>
        <div class="row">
            <p style="text-align: center;"><b>Acteurs</b></p>

            <div style="text-align: center;margin-top: 0.5em;">
                <p ng-show="cast.length == 0">Acteurs inconnus</p>
            </div>
            <div class="col-xs-6 col-sm-4 card-fade" ng-class-even="'movie-even'" ng-class-odd="'movie-odd'" style="margin-bottom: 0.5em;" ng-repeat="people in cast | limitTo:actorLimit">
                <actor ng-click="detailActor(people.id)"></actor>
            </div>
            <p style="text-align: center;" ng-show="actorLimit < cast.length"><a href="" ng-click="moreActors()"><b>Afficher plus d'acteurs</b></a></p>
        </div>
        <br/>
        <div class="row">
            <p style="text-align: center;"><b>Equipe</b></p>
            <div style="text-align: center;margin-top: 0.5em;">
                <p ng-show="crew.length == 0">Equipe inconnus</p>
            </div>
            <div class="col-xs-6 col-sm-4 card-fade" ng-class-even="'movie-even'" ng-class-odd="'movie-odd'" style="margin-bottom: 0.5em;" ng-repeat="people in crew | limitTo:crewLimit">
                <actor ng-click="detailActor(people.id)"></actor>
            </div>
            <p style="text-align: center;" ng-show="crewLimit < crew.length"><a href="" ng-click="moreCrews()"><b>En afficher plus</b></a></p>
        </div>
    </div>

</section>