<section ng-controller="NowCtrl">

    <div class="menu-top">
        <p class="title">
            <a href="" ng-click="previous()" class="icon"><i class="fa fa-arrow-left"></i></a>
            Films à l'affiche
        </p>
    </div>

    <loading></loading>

    <div class="col-xs-12 black">
        <div class="row">
            <div class="col-xs-6 col-sm-4 movie-card card-fade" ng-click="detail(result.id)" ng-repeat="result in results" ng-style="{'background-image': 'url('+result.poster+')'}">
                <div class="content">
                    <p class="title">{{result.title}}</p>
                </div>
            </div>
        </div>
    </div>


</section>