<section ng-controller="SearchCtrl" class="col-xs-12 black">

    <div class="menu-top" style="margin-bottom: 1em;">
        <p class="title">
            <a href="" ng-click="previous()" class="icon"><i class="fa fa-arrow-left"></i></a>
            Recherche
        </p>
    </div>

    <div class="row" style="margin-left: 0;margin-right: 0;">

    <form ng-submit="launchSearch()" style="">

        <div class="col-xs-10" style="padding-left: 0;padding-right: 7px;">
            <input type="text" placeholder="Titre du film" ng-model="query" style="width: 100%;padding: 0.5em;background-color: #434A54;border: none;color: #FFFFFF;"/>
        </div>
        <div class="col-xs-2" style="padding-right: 0;padding-left: 7px;">
            <button type="submit" class="btn" style="width: 100%;padding: 0.5em;background-color: #434A54;color: #FFFFFF;border: none;">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    </div>

    <loading></loading>

    <div style="margin-top: 1em;margin-left: 0;margin-right: 0;">
        <div class="row">
            <div style="text-align: center;" ng-show="results.length == 0"><p>Aucun film trouvé</p></div>
            <div class="col-xs-6 col-sm-4 movie-card card-fade" ng-click="detail(result.id)" ng-repeat="result in results" ng-style="{'background-image': 'url('+result.poster+')'}">
                <div class="content">
                    <p class="title">{{result.title}}</p>
                </div>
            </div>
        </div>
    </div>


</section>